<style>
    .messages-pane{
        background-color: #E9F1FB;
        min-height:200px;
        padding: 20px;
        max-height: 75vh;
        overflow: auto;
    }
    
    .messages-box{
        background-color: #73ABE0;
        border-radius: 10px;
        padding: 10px;
        margin: 5px;
    }
    
        .messages-box .thread {
            background-color: #FFFFFF;
            border-radius: 10px;
            box-shadow:1px 1px 5px #333;
            margin: 10px;
            padding:10px;
            width:70%;
        }

    .thread-user {
        border-bottom: 1px solid #CCC;
    }

    .thread-user h4{
        display:inline;
    }


    .message-to {
        margin-left: auto !important;
        background-color: #F8EDED !important;
    }

    .message-from {
        margin-right: auto !important;
    }

    .message-new {
        background-color: #E7F4F0 !important;
    }
</style>
<!--new messages here-->
<div id="result" class="messages-pane">
    <div class="messages-box">
        <div class="thread message-to">
            <div class="thread-user">
                <i class="fa fa-user"></i>
                <h4>Steve</h4>
            </div>
            <p>
                You F***** 
            </p>
        </div>
        <div class="thread message-from-new">
            <div class="thread-user">
                <i class="fa fa-user"></i>
                <h4>Pedro</h4>
            </div>
            <p>
                Dito yun Mensahe ng user
            </p>
        </div>
        <div class="thread message-to">
            <div class="thread-user">
                <i class="fa fa-user"></i>
                <h4>Steve</h4>
            </div>
            <p>
                Let's Volt In
            </p>
        </div>
        <div class="thread message-to">
            <div class="thread-user">
                <i class="fa fa-user"></i>
                <h4>Steve</h4>
            </div>
            <p>
                Palakol ni Diva
            </p>
        </div>
    </div>
    <div class="messages-box">
        <div class="thread">
            <div class="thread-user">
                <i class="fa fa-user"></i>
                <h4>Pedro</h4>
            </div>
            <p>
                Dito yun Mensahe ng user
            </p>
        </div>
        <div class="thread message-to">
            <div class="thread-user">
                <i class="fa fa-user"></i>
                <h4>Steve</h4>
            </div>
            <p>
                Binhi ng Kadiliman
            </p>
        </div>
    </div>
    <div class="messages-box">
        <div class="thread message-to">
            <div class="thread-user">
                <i class="fa fa-user"></i>
                <h4>Steve</h4>
            </div>
            <p>
                You F*****
            </p>
        </div>
        <div class="thread message-from-new">
            <div class="thread-user">
                <i class="fa fa-user"></i>
                <h4>Pedro</h4>
            </div>
            <p>
                Dito yun Mensahe ng user
            </p>
        </div>
        <div class="thread message-to">
            <div class="thread-user">
                <i class="fa fa-user"></i>
                <h4>Steve</h4>
            </div>
            <p>
                Let's Volt In
            </p>
        </div>
        <div class="thread message-to">
            <div class="thread-user">
                <i class="fa fa-user"></i>
                <h4>Steve</h4>
            </div>
            <p>
                Palakol ni Diva
            </p>
        </div>
    </div>
    <div class="messages-box">
        <div class="thread">
            <div class="thread-user">
                <i class="fa fa-user"></i>
                <h4>Pedro</h4>
            </div>
            <p>
                Dito yun Mensahe ng user
            </p>
        </div>
        <div class="thread message-to">
            <div class="thread-user">
                <i class="fa fa-user"></i>
                <h4>Steve</h4>
            </div>
            <p>
                Binhi ng Kadiliman
            </p>
        </div>
    </div>
    <div class="messages-box">
        <div class="thread">
            <div class="thread-user">
                <i class="fa fa-user"></i>
                <h4>Pedro</h4>
            </div>
            <p>
                Dito yun Mensahe ng user
            </p>
        </div>
    </div>
</div>
<form id="frmSendMessage" action="/api/Messaging/SendMessage" method="post">
    <div class="messages-editor">    
        <div id="messageInput" class="input-group">     
            <input type="hidden" name="SenderUserID" value="3" />
            <input type="hidden" name="ReceiverUserID" value="4" />
            <textarea id="txtSearch" type="text" class="form-control" name="SenderMessage" autocomplete="off"></textarea>
            <button type="submit" class="input-group-text text-primary" style="width: 70px;font-size: 20px;"><i style=" margin: 0px auto; " class="fas fa-paper-plane"></i></button>
        </div>
    </div>
</form>
@section Scripts{
    <script>

        //Page Load
        $(function(){


            $('#frmSendMessage').on('submit',function(){
                
                console.log('Form Submitted!!!');
                $.ajax({
                    url:$('#frmSendMessage').attr('action'),
                    //url:'/Connect/SendMessage',
                    method:'POST',
                    data:$('#frmSendMessage').serialize(),
                    success:function(res){
                        console.log(res);
                    },
                    error:function(err){
                        console.log(err);
                    }
                });
                return false;
            });

            checkMessages();
        });

        var currentUserID = 3;
        var messageCount = 0;

        function checkMessages() {
            $.ajax({
                url:'/api/Messaging/GetMessages?UserID=' + currentUserID,
                method:'GET',
                success:function(res){
                    
                    let msgs ='';
                    let msgFormat = '<div class="messages-box"> <div class="thread"> <div class="thread-user"> <i class="fa fa-user"></i> <h4>[toUserID]</h4> </div> <p> [messageBody] </p> </div> </div>';
                    if(messageCount != res.length){
                        console.log(res.length);
                        console.log('Data: ',res);

                        for(let msg of res)
                        {
                            let msgdirection = '';

                            if(msg.fromUserID == currentUserID){
                                msgdirection = 'message-to';
                            }
                            if(msg. toUserID == currentUserID){
                                msgdirection = '';
                            }
                            let msgFormat = '<div class="thread ' + msgdirection + '"> <div class="thread-user"> <i class="fa fa-user"></i> <h4>'+ msg.toUserID +'</h4> </div> <p> '+ msg.messageBody +' </p> </div>';
                            msgs +=msgFormat;
                        }
                        $('#result').html( '<div class="messages-box">'+ msgs + '</div>');
                        $('#result').animate({
                            scrollTop: $(".thread:last-child").offset().top
                        }, 2000);
                    }
                    messageCount = res.length;
                    setTimeout('checkMessages()',1000);
                },   
                error:function(err){
                    setTimeout('checkMessages()',1000);
                }
            });
        }
    </script>
}
